[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c 'fesControl -d verbose -t /home/cnbi/dev/fesapps/fesjson/resources/lowStimDouble.json;$SHELL'"
Categories=Application;
Name[en_US]=FESInit
Icon=/home/cnbi/dev/launcherscripts/DesktopShortcuts/icons/fes.png
