[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '/home/cnbi/dev/launcherscripts/DesktopScripts/cp_fesmi_launcher;$SHELL'"
Categories=Application;
Name[en_US]=Launcher
Icon=/home/cnbi/dev/launcherscripts/DesktopShortcuts/icons/BCI.png
