[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=/home/cnbi/dev/cnbilauncherscripts/DesktopScripts/GenerateClassifier
Categories=Application;
Name[en_US]=MachineLearning
Icon=/home/cnbi/dev/cnbilauncherscripts/DesktopShortcuts/icons/ai.png
