[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=patient-alloc
Categories=Application;
Name[en_US]=Patient
Icon=/home/cnbi/dev/cnbilauncherscripts/DesktopShortcuts/icons/patientAllocation.png
