[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=/home/cnbi/dev/launcherscripts/DesktopScripts/TestExtension
Categories=Application;
Name[en_US]=TestExtension
Icon=/home/cnbi/dev/launcherscripts/DesktopShortcuts/icons/extension.png
