[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=/home/cnbi/dev/launcherscripts/DesktopScripts/TestFlexion
Categories=Application;
Name[en_US]=TestFlexion
Icon=/home/cnbi/dev/launcherscripts/DesktopShortcuts/icons/flexion.png
