[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=/home/cnbi/dev/launcherscripts/DesktopScripts/TestDouble
Categories=Application;
Name[en_US]=TestDoubleSubThresh
Icon=/home/cnbi/dev/launcherscripts/DesktopShortcuts/icons/doubleElectrode.png
